<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="/">BBC News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container">
    <div class = "row">
        <h2>Scraped Articles</h2>
    </div>
   
    <div class = "row">
        {{#each article}}
            <div class = "col-6">
                <h3>{{this.title}}</h3>
                <p>{{this.link}}</p>
                <p>{{this.summary}}</p>
                <button type="button" class="btn btn-outline-info btn-sm" id="makeNotes" data-id="{{_id}}">Notes</button>
            </div>
        {{/each}}
    </div>    

</div>    

<div class="container">
  <div class="row">
    <form class="col-6">
      <div class="form-group">
        <label for="noteTitle">Title</label>
        <input class="form-control" id="noteTitle" type="text">
      </div>
      <div class="form-group">
        <label for="noteBody">Title</label>
        <textarea class="form-control" id="noteBody" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
      <button type="button" class="btn btn-secondary">Cancel</button>
    </form>

    

  </div>
</div>
