<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">BBC News Scraper</h1>
    <br>
    <p class="lead">The latest headlines in one spot</p>
  </div>
</div>

{{!-- <p class="lead">The latest headlines in one spot</p> --}}


<a class="btn btn-danger btn-lg" href="/scrape" role="button" id="scrapeNews">Get the News</a>
