<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
</nav>
<div class="jumbotron">
    <h1 class="display-4">BBC News Scraper</h1>
</div>

<div>
    {{#each articles}}

        <h3>{{title}}</h3>
        <p>{{link}}</p>
        <p>{{summary}}</p>
        <button type="button" class="btn btn-outline-info btn-sm">Notes</button>

    {{/each}}
</div>