<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="/">BBC News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container">
    <div class = "row text-center align-items-center" id="title-row">
      <div "col align-middle">
        <h2>Scraped Articles</h2>
        <br>
      </div>
    </div>
   
    <div class = "row" id="main-row">
        {{#each articles}}
            <div class = "col-5 article-box">
                <h4>{{this.title}}</h4>
                <a href="{{this.link}}" target="_blank"></a>
                <p>{{this.summary}}</p>
                <button type="button" class="btn btn-warning btn-sm" id="makeNotes" data-id="{{this.id}}">Notes</button>
            </div>
            <br>
        {{/each}}
    </div>    

</div>    
    
    
    
    
    

